.mainForm {
  display: grid;
}

.mainFormSelect,
.mainFormNumber {
  font-size: 1.8rem;
  font-weight: 300;
  border-radius: 0.4rem;
  padding-left: 0.5rem;
  margin-left: 0.3rem;
  box-shadow: inset rgb(0 0 0 / 10%) 0 0.188rem 0.375rem 0;
  border: none;
  color: #707070;
}

.mainFormSelect {
  width: 8.3rem;
  margin-bottom: 0.8rem;
}

.mainFormNumber {
  width: 5rem;
}

.mainFormButton {
  font-weight: 700;
  font-size: 1.7rem;
  color: white;
  border: none;
  border-radius: 0.6rem;
  background: linear-gradient(
    180deg,
    rgba(186, 144, 255, 1) 0%,
    rgba(151, 87, 255, 1) 100%
  );
  padding: 0.1rem 0.8rem;
  justify-self: center;
  text-align: center;
  margin: 1rem;
  margin-bottom: 2.5rem;
  box-shadow: rgba(0 0 0 / 10%) 0.625rem 0.75rem 3.938rem 0;
}

.mainFormButton:hover {
  cursor: pointer;
  box-shadow: none;
  background: linear-gradient(
    180deg,
    rgba(151, 87, 255, 1) 0%,
    rgba(186, 144, 255, 1) 100%
  );
}

.inputs {
  margin: 1.3rem 0;
  display: grid;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: white;
  color: #707070;
  justify-self: left;
  width: 100%;
  text-align: left;
  padding: 1rem 1.3rem 1rem 1.3rem;
  border-radius: 1.3rem;
  box-shadow: rgba(0 0 0 / 10%) 0.625rem 0.75rem 3.938rem 0;
}

.inputItem {
  width: 100%;
}

.resultContainer {
  display: grid;
}

.result {
  font-size: 6rem;
  font-weight: 900;
  color: white;
  padding: 0 3rem;
  line-height: 1.3;
  border-radius: 1.6rem;
  background: black;
  box-shadow: rgba(0 0 0 / 10%) 0.625rem 0.75rem 3.938rem 0;
}

.de {
  background: linear-gradient(
    318deg,
    rgba(219, 73, 73, 1) 0%,
    rgba(255, 127, 0, 1) 100%
  );
}
.c {
  background: linear-gradient(
    318deg,
    rgba(244, 141, 0, 1) 0%,
    rgba(255, 226, 0, 1) 100%
  );
}
.b {
  background: linear-gradient(
    318deg,
    rgba(57, 0, 186, 1) 0%,
    rgba(73, 146, 219, 1) 100%
  );
}
.a {
  background: linear-gradient(
    318deg,
    rgba(0, 155, 149, 1) 0%,
    rgba(118, 219, 73, 1) 100%
  );
}

@media only screen and (max-width: 19.5rem) {
  .mainFormSelect,
  .mainFormNumber {
    font-size: 1rem;
  }
  .inputs {
    font-size: 1rem;
  }
  .mainFormButton {
    font-size: 1rem;
  }
  .result {
    font-size: 2rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 35rem) {
  .inputs {
    grid-template-columns: 1.6fr 1fr;
    max-width: 32rem;
    justify-self: center;
  }
  .mainFormSelect {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 55rem) {
  .mainForm {
    grid-template-columns: 2.3fr 1fr;
    max-width: 44rem;
    margin-bottom: 2.5rem;
  }
  .mainFormButton {
    margin: 1.3rem 0;
    height: 2.9rem;
    align-self: center;
    justify-self: right;
  }
}
